html, body {
	height: 100%;
	padding: 0;
}

.canvas {
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: repeat;
	flex-direction: column;
	margin: 0;
}

canvas {
	max-width: 95vw;
	max-height: 95vh;
}

.error-message {
	text-align: center;
}
